*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.bcf
*.blg
*.run.xml
*.nav
*.snm
*.vrb
*.xdv
.DS_Store
*.pdf
*.bbl-SAVE-ERROR
*.bak

# Environments
.env/
.venv/
venv/

# datasets
Code/data/cifar-10/
Code/data/MUFAC/
Code/data/mufac/
wandb/
wandb-local/
checkpoints/

# Python bytecode
__pycache__/
*.py[cod]
**/outdir/**

# Ignoring some
!Report/figures/cifar10_forget_mixed_histograms.pdf
!Report/figures/mufac_forget_mixed_histograms.pdf